<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/icons-extra.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../css/custom/custom.css"/>-->
		<style>
			::-webkit-input-placeholder{
				text-align: right;
			}
		</style>
	</head>
	<body>
		<div>
			<input type="text" placeholder="这是测试" />
		</div>		
		<script src="../js/mui.min.js"></script>
	</body>
</html>
