<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>地区选择</title>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/custom/custom.css"/>
	</head>
	<body>
		<div id="valid-status">
			<header-nav :header-nav-data="headerNavData"></header-nav>
			<article class="custom-container m-t-44"></article>
			<sub-list :sub-list-data="subListData"></sub-list>
		</div>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="../components/js/header_nav.js"></script>
		<script src="../components/js/sub_list.js"></script>
		<script type="text/javascript">
			new Vue({
				el: '#valid-status',
				data: {
					headerNavData: {
						title: '个人认证'
					},
					subListData: {
						subList: {
							items: [{title: '核对身份信息', rightSpan: '被拒绝 (点击修改)', navigateRight: true, classObj: {'span-red': true}},
									{title: '绑定银行卡', rightSpan: '已通过', navigateRight: true, classObj: {'span-blue': true}},
									{title: '联系人信息', rightSpan: '已通过', navigateRight: true, classObj: {'span-blue': true}},
							]
						}
					}
				}
			})
		</script>
	</body>
</html>
